[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pep8 = "*"
djangorestframework = "*"
djoser = "*"
asgiref = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
coreapi = "*"
coreschema ="*"
cryptography = "*"
defusedxml = "*"
django = "*"
django-templated-mail = "*"
djangorestframework-simplejwt = "*"
idna = "==3.6"
importlib-metadata = "*"
itypes = "*"
jinja2 = "*"
markupsafe = "*"
oauthlib = "*"
pycparser = "*"
pyjwt = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
six = "==1.16.0"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.11"
pip_version = "21.3.1"
